/**
 * require 'globals/variables'
 * require dependency 'bootstrap'
**/
.grid > * {
  padding-top: 15px;
  padding-bottom: 15px;
}
ul.grid,
ol.grid {
  margin-bottom: 0;
}
.grid.grid-1,
.grid.grid-sm-1 {
  margin-left: -0.5px;
  margin-right: -0.5px;
}
.grid.grid-1 > *,
.grid.grid-sm-1 > * {
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  padding-left: 0.5px;
  padding-right: 0.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-1 {
    margin-left: -0.5px;
    margin-right: -0.5px;
  }
  .grid.grid-sm-1 > * {
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding-left: 0.5px;
    padding-right: 0.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-1 {
    margin-left: -0.5px;
    margin-right: -0.5px;
  }
  .grid.grid-md-1 > * {
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding-left: 0.5px;
    padding-right: 0.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-1 {
    margin-left: -0.5px;
    margin-right: -0.5px;
  }
  .grid.grid-lg-1 > * {
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding-left: 0.5px;
    padding-right: 0.5px;
  }
}
.grid.grid-2,
.grid.grid-sm-2 {
  margin-left: -1px;
  margin-right: -1px;
}
.grid.grid-2 > *,
.grid.grid-sm-2 > * {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
@media (min-width: 768px) {
  .grid.grid-sm-2 {
    margin-left: -1px;
    margin-right: -1px;
  }
  .grid.grid-sm-2 > * {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-2 {
    margin-left: -1px;
    margin-right: -1px;
  }
  .grid.grid-md-2 > * {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-2 {
    margin-left: -1px;
    margin-right: -1px;
  }
  .grid.grid-lg-2 > * {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
  }
}
.grid.grid-3,
.grid.grid-sm-3 {
  margin-left: -1.5px;
  margin-right: -1.5px;
}
.grid.grid-3 > *,
.grid.grid-sm-3 > * {
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 1.5px;
  padding-right: 1.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-3 {
    margin-left: -1.5px;
    margin-right: -1.5px;
  }
  .grid.grid-sm-3 > * {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-left: 1.5px;
    padding-right: 1.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-3 {
    margin-left: -1.5px;
    margin-right: -1.5px;
  }
  .grid.grid-md-3 > * {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-left: 1.5px;
    padding-right: 1.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-3 {
    margin-left: -1.5px;
    margin-right: -1.5px;
  }
  .grid.grid-lg-3 > * {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-left: 1.5px;
    padding-right: 1.5px;
  }
}
.grid.grid-4,
.grid.grid-sm-4 {
  margin-left: -2px;
  margin-right: -2px;
}
.grid.grid-4 > *,
.grid.grid-sm-4 > * {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
@media (min-width: 768px) {
  .grid.grid-sm-4 {
    margin-left: -2px;
    margin-right: -2px;
  }
  .grid.grid-sm-4 > * {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-4 {
    margin-left: -2px;
    margin-right: -2px;
  }
  .grid.grid-md-4 > * {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-4 {
    margin-left: -2px;
    margin-right: -2px;
  }
  .grid.grid-lg-4 > * {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
}
.grid.grid-5,
.grid.grid-sm-5 {
  margin-left: -2.5px;
  margin-right: -2.5px;
}
.grid.grid-5 > *,
.grid.grid-sm-5 > * {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-5 {
    margin-left: -2.5px;
    margin-right: -2.5px;
  }
  .grid.grid-sm-5 > * {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-5 {
    margin-left: -2.5px;
    margin-right: -2.5px;
  }
  .grid.grid-md-5 > * {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-5 {
    margin-left: -2.5px;
    margin-right: -2.5px;
  }
  .grid.grid-lg-5 > * {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
}
.grid.grid-6,
.grid.grid-sm-6 {
  margin-left: -3px;
  margin-right: -3px;
}
.grid.grid-6 > *,
.grid.grid-sm-6 > * {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
@media (min-width: 768px) {
  .grid.grid-sm-6 {
    margin-left: -3px;
    margin-right: -3px;
  }
  .grid.grid-sm-6 > * {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-6 {
    margin-left: -3px;
    margin-right: -3px;
  }
  .grid.grid-md-6 > * {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-6 {
    margin-left: -3px;
    margin-right: -3px;
  }
  .grid.grid-lg-6 > * {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }
}
.grid.grid-7,
.grid.grid-sm-7 {
  margin-left: -3.5px;
  margin-right: -3.5px;
}
.grid.grid-7 > *,
.grid.grid-sm-7 > * {
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-left: 3.5px;
  padding-right: 3.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-7 {
    margin-left: -3.5px;
    margin-right: -3.5px;
  }
  .grid.grid-sm-7 > * {
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    padding-left: 3.5px;
    padding-right: 3.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-7 {
    margin-left: -3.5px;
    margin-right: -3.5px;
  }
  .grid.grid-md-7 > * {
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    padding-left: 3.5px;
    padding-right: 3.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-7 {
    margin-left: -3.5px;
    margin-right: -3.5px;
  }
  .grid.grid-lg-7 > * {
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    padding-left: 3.5px;
    padding-right: 3.5px;
  }
}
.grid.grid-8,
.grid.grid-sm-8 {
  margin-left: -4px;
  margin-right: -4px;
}
.grid.grid-8 > *,
.grid.grid-sm-8 > * {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
@media (min-width: 768px) {
  .grid.grid-sm-8 {
    margin-left: -4px;
    margin-right: -4px;
  }
  .grid.grid-sm-8 > * {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-8 {
    margin-left: -4px;
    margin-right: -4px;
  }
  .grid.grid-md-8 > * {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-8 {
    margin-left: -4px;
    margin-right: -4px;
  }
  .grid.grid-lg-8 > * {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
.grid.grid-9,
.grid.grid-sm-9 {
  margin-left: -4.5px;
  margin-right: -4.5px;
}
.grid.grid-9 > *,
.grid.grid-sm-9 > * {
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  padding-left: 4.5px;
  padding-right: 4.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-9 {
    margin-left: -4.5px;
    margin-right: -4.5px;
  }
  .grid.grid-sm-9 > * {
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    padding-left: 4.5px;
    padding-right: 4.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-9 {
    margin-left: -4.5px;
    margin-right: -4.5px;
  }
  .grid.grid-md-9 > * {
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    padding-left: 4.5px;
    padding-right: 4.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-9 {
    margin-left: -4.5px;
    margin-right: -4.5px;
  }
  .grid.grid-lg-9 > * {
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    padding-left: 4.5px;
    padding-right: 4.5px;
  }
}
.grid.grid-10,
.grid.grid-sm-10 {
  margin-left: -5px;
  margin-right: -5px;
}
.grid.grid-10 > *,
.grid.grid-sm-10 > * {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-10 {
    margin-left: -5px;
    margin-right: -5px;
  }
  .grid.grid-sm-10 > * {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-10 {
    margin-left: -5px;
    margin-right: -5px;
  }
  .grid.grid-md-10 > * {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-10 {
    margin-left: -5px;
    margin-right: -5px;
  }
  .grid.grid-lg-10 > * {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.grid.grid-11,
.grid.grid-sm-11 {
  margin-left: -5.5px;
  margin-right: -5.5px;
}
.grid.grid-11 > *,
.grid.grid-sm-11 > * {
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  padding-left: 5.5px;
  padding-right: 5.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-11 {
    margin-left: -5.5px;
    margin-right: -5.5px;
  }
  .grid.grid-sm-11 > * {
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    padding-left: 5.5px;
    padding-right: 5.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-11 {
    margin-left: -5.5px;
    margin-right: -5.5px;
  }
  .grid.grid-md-11 > * {
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    padding-left: 5.5px;
    padding-right: 5.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-11 {
    margin-left: -5.5px;
    margin-right: -5.5px;
  }
  .grid.grid-lg-11 > * {
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    padding-left: 5.5px;
    padding-right: 5.5px;
  }
}
.grid.grid-12,
.grid.grid-sm-12 {
  margin-left: -6px;
  margin-right: -6px;
}
.grid.grid-12 > *,
.grid.grid-sm-12 > * {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .grid.grid-sm-12 {
    margin-left: -6px;
    margin-right: -6px;
  }
  .grid.grid-sm-12 > * {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-12 {
    margin-left: -6px;
    margin-right: -6px;
  }
  .grid.grid-md-12 > * {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-12 {
    margin-left: -6px;
    margin-right: -6px;
  }
  .grid.grid-lg-12 > * {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
  }
}
.grid.grid-13,
.grid.grid-sm-13 {
  margin-left: -6.5px;
  margin-right: -6.5px;
}
.grid.grid-13 > *,
.grid.grid-sm-13 > * {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  padding-left: 6.5px;
  padding-right: 6.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-13 {
    margin-left: -6.5px;
    margin-right: -6.5px;
  }
  .grid.grid-sm-13 > * {
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    padding-left: 6.5px;
    padding-right: 6.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-13 {
    margin-left: -6.5px;
    margin-right: -6.5px;
  }
  .grid.grid-md-13 > * {
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    padding-left: 6.5px;
    padding-right: 6.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-13 {
    margin-left: -6.5px;
    margin-right: -6.5px;
  }
  .grid.grid-lg-13 > * {
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    padding-left: 6.5px;
    padding-right: 6.5px;
  }
}
.grid.grid-14,
.grid.grid-sm-14 {
  margin-left: -7px;
  margin-right: -7px;
}
.grid.grid-14 > *,
.grid.grid-sm-14 > * {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
@media (min-width: 768px) {
  .grid.grid-sm-14 {
    margin-left: -7px;
    margin-right: -7px;
  }
  .grid.grid-sm-14 > * {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-14 {
    margin-left: -7px;
    margin-right: -7px;
  }
  .grid.grid-md-14 > * {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-14 {
    margin-left: -7px;
    margin-right: -7px;
  }
  .grid.grid-lg-14 > * {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }
}
.grid.grid-15,
.grid.grid-sm-15 {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.grid.grid-15 > *,
.grid.grid-sm-15 > * {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-15 {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .grid.grid-sm-15 > * {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-15 {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .grid.grid-md-15 > * {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-15 {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .grid.grid-lg-15 > * {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
.grid.grid-16,
.grid.grid-sm-16 {
  margin-left: -8px;
  margin-right: -8px;
}
.grid.grid-16 > *,
.grid.grid-sm-16 > * {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
@media (min-width: 768px) {
  .grid.grid-sm-16 {
    margin-left: -8px;
    margin-right: -8px;
  }
  .grid.grid-sm-16 > * {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-16 {
    margin-left: -8px;
    margin-right: -8px;
  }
  .grid.grid-md-16 > * {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-16 {
    margin-left: -8px;
    margin-right: -8px;
  }
  .grid.grid-lg-16 > * {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
.grid.grid-17,
.grid.grid-sm-17 {
  margin-left: -8.5px;
  margin-right: -8.5px;
}
.grid.grid-17 > *,
.grid.grid-sm-17 > * {
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  padding-left: 8.5px;
  padding-right: 8.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-17 {
    margin-left: -8.5px;
    margin-right: -8.5px;
  }
  .grid.grid-sm-17 > * {
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    padding-left: 8.5px;
    padding-right: 8.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-17 {
    margin-left: -8.5px;
    margin-right: -8.5px;
  }
  .grid.grid-md-17 > * {
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    padding-left: 8.5px;
    padding-right: 8.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-17 {
    margin-left: -8.5px;
    margin-right: -8.5px;
  }
  .grid.grid-lg-17 > * {
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    padding-left: 8.5px;
    padding-right: 8.5px;
  }
}
.grid.grid-18,
.grid.grid-sm-18 {
  margin-left: -9px;
  margin-right: -9px;
}
.grid.grid-18 > *,
.grid.grid-sm-18 > * {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  padding-right: 9px;
}
@media (min-width: 768px) {
  .grid.grid-sm-18 {
    margin-left: -9px;
    margin-right: -9px;
  }
  .grid.grid-sm-18 > * {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
    padding-right: 9px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-18 {
    margin-left: -9px;
    margin-right: -9px;
  }
  .grid.grid-md-18 > * {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
    padding-right: 9px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-18 {
    margin-left: -9px;
    margin-right: -9px;
  }
  .grid.grid-lg-18 > * {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
    padding-right: 9px;
  }
}
.grid.grid-19,
.grid.grid-sm-19 {
  margin-left: -9.5px;
  margin-right: -9.5px;
}
.grid.grid-19 > *,
.grid.grid-sm-19 > * {
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  padding-left: 9.5px;
  padding-right: 9.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-19 {
    margin-left: -9.5px;
    margin-right: -9.5px;
  }
  .grid.grid-sm-19 > * {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    padding-left: 9.5px;
    padding-right: 9.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-19 {
    margin-left: -9.5px;
    margin-right: -9.5px;
  }
  .grid.grid-md-19 > * {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    padding-left: 9.5px;
    padding-right: 9.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-19 {
    margin-left: -9.5px;
    margin-right: -9.5px;
  }
  .grid.grid-lg-19 > * {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    padding-left: 9.5px;
    padding-right: 9.5px;
  }
}
.grid.grid-20,
.grid.grid-sm-20 {
  margin-left: -10px;
  margin-right: -10px;
}
.grid.grid-20 > *,
.grid.grid-sm-20 > * {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .grid.grid-sm-20 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .grid.grid-sm-20 > * {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-20 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .grid.grid-md-20 > * {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-20 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .grid.grid-lg-20 > * {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.grid.grid-21,
.grid.grid-sm-21 {
  margin-left: -10.5px;
  margin-right: -10.5px;
}
.grid.grid-21 > *,
.grid.grid-sm-21 > * {
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  padding-left: 10.5px;
  padding-right: 10.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-21 {
    margin-left: -10.5px;
    margin-right: -10.5px;
  }
  .grid.grid-sm-21 > * {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    padding-left: 10.5px;
    padding-right: 10.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-21 {
    margin-left: -10.5px;
    margin-right: -10.5px;
  }
  .grid.grid-md-21 > * {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    padding-left: 10.5px;
    padding-right: 10.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-21 {
    margin-left: -10.5px;
    margin-right: -10.5px;
  }
  .grid.grid-lg-21 > * {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    padding-left: 10.5px;
    padding-right: 10.5px;
  }
}
.grid.grid-22,
.grid.grid-sm-22 {
  margin-left: -11px;
  margin-right: -11px;
}
.grid.grid-22 > *,
.grid.grid-sm-22 > * {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  padding-right: 11px;
}
@media (min-width: 768px) {
  .grid.grid-sm-22 {
    margin-left: -11px;
    margin-right: -11px;
  }
  .grid.grid-sm-22 > * {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 11px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-22 {
    margin-left: -11px;
    margin-right: -11px;
  }
  .grid.grid-md-22 > * {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 11px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-22 {
    margin-left: -11px;
    margin-right: -11px;
  }
  .grid.grid-lg-22 > * {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 11px;
  }
}
.grid.grid-23,
.grid.grid-sm-23 {
  margin-left: -11.5px;
  margin-right: -11.5px;
}
.grid.grid-23 > *,
.grid.grid-sm-23 > * {
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  padding-left: 11.5px;
  padding-right: 11.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-23 {
    margin-left: -11.5px;
    margin-right: -11.5px;
  }
  .grid.grid-sm-23 > * {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 11.5px;
    padding-right: 11.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-23 {
    margin-left: -11.5px;
    margin-right: -11.5px;
  }
  .grid.grid-md-23 > * {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 11.5px;
    padding-right: 11.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-23 {
    margin-left: -11.5px;
    margin-right: -11.5px;
  }
  .grid.grid-lg-23 > * {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 11.5px;
    padding-right: 11.5px;
  }
}
.grid.grid-24,
.grid.grid-sm-24 {
  margin-left: -12px;
  margin-right: -12px;
}
.grid.grid-24 > *,
.grid.grid-sm-24 > * {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 768px) {
  .grid.grid-sm-24 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .grid.grid-sm-24 > * {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-24 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .grid.grid-md-24 > * {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-24 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .grid.grid-lg-24 > * {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
.grid.grid-25,
.grid.grid-sm-25 {
  margin-left: -12.5px;
  margin-right: -12.5px;
}
.grid.grid-25 > *,
.grid.grid-sm-25 > * {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-left: 12.5px;
  padding-right: 12.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-25 {
    margin-left: -12.5px;
    margin-right: -12.5px;
  }
  .grid.grid-sm-25 > * {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-25 {
    margin-left: -12.5px;
    margin-right: -12.5px;
  }
  .grid.grid-md-25 > * {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-25 {
    margin-left: -12.5px;
    margin-right: -12.5px;
  }
  .grid.grid-lg-25 > * {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 12.5px;
    padding-right: 12.5px;
  }
}
.grid.grid-26,
.grid.grid-sm-26 {
  margin-left: -13px;
  margin-right: -13px;
}
.grid.grid-26 > *,
.grid.grid-sm-26 > * {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  padding-right: 13px;
}
@media (min-width: 768px) {
  .grid.grid-sm-26 {
    margin-left: -13px;
    margin-right: -13px;
  }
  .grid.grid-sm-26 > * {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-26 {
    margin-left: -13px;
    margin-right: -13px;
  }
  .grid.grid-md-26 > * {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-26 {
    margin-left: -13px;
    margin-right: -13px;
  }
  .grid.grid-lg-26 > * {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 13px;
  }
}
.grid.grid-27,
.grid.grid-sm-27 {
  margin-left: -13.5px;
  margin-right: -13.5px;
}
.grid.grid-27 > *,
.grid.grid-sm-27 > * {
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  padding-left: 13.5px;
  padding-right: 13.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-27 {
    margin-left: -13.5px;
    margin-right: -13.5px;
  }
  .grid.grid-sm-27 > * {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    padding-left: 13.5px;
    padding-right: 13.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-27 {
    margin-left: -13.5px;
    margin-right: -13.5px;
  }
  .grid.grid-md-27 > * {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    padding-left: 13.5px;
    padding-right: 13.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-27 {
    margin-left: -13.5px;
    margin-right: -13.5px;
  }
  .grid.grid-lg-27 > * {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    padding-left: 13.5px;
    padding-right: 13.5px;
  }
}
.grid.grid-28,
.grid.grid-sm-28 {
  margin-left: -14px;
  margin-right: -14px;
}
.grid.grid-28 > *,
.grid.grid-sm-28 > * {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 14px;
}
@media (min-width: 768px) {
  .grid.grid-sm-28 {
    margin-left: -14px;
    margin-right: -14px;
  }
  .grid.grid-sm-28 > * {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-28 {
    margin-left: -14px;
    margin-right: -14px;
  }
  .grid.grid-md-28 > * {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-28 {
    margin-left: -14px;
    margin-right: -14px;
  }
  .grid.grid-lg-28 > * {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
.grid.grid-29,
.grid.grid-sm-29 {
  margin-left: -14.5px;
  margin-right: -14.5px;
}
.grid.grid-29 > *,
.grid.grid-sm-29 > * {
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  padding-left: 14.5px;
  padding-right: 14.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-29 {
    margin-left: -14.5px;
    margin-right: -14.5px;
  }
  .grid.grid-sm-29 > * {
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    padding-left: 14.5px;
    padding-right: 14.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-29 {
    margin-left: -14.5px;
    margin-right: -14.5px;
  }
  .grid.grid-md-29 > * {
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    padding-left: 14.5px;
    padding-right: 14.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-29 {
    margin-left: -14.5px;
    margin-right: -14.5px;
  }
  .grid.grid-lg-29 > * {
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    padding-left: 14.5px;
    padding-right: 14.5px;
  }
}
.grid.grid-30,
.grid.grid-sm-30 {
  margin-left: -15px;
  margin-right: -15px;
}
.grid.grid-30 > *,
.grid.grid-sm-30 > * {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .grid.grid-sm-30 {
    margin-left: -15px;
    margin-right: -15px;
  }
  .grid.grid-sm-30 > * {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-30 {
    margin-left: -15px;
    margin-right: -15px;
  }
  .grid.grid-md-30 > * {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-30 {
    margin-left: -15px;
    margin-right: -15px;
  }
  .grid.grid-lg-30 > * {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.grid.grid-31,
.grid.grid-sm-31 {
  margin-left: -15.5px;
  margin-right: -15.5px;
}
.grid.grid-31 > *,
.grid.grid-sm-31 > * {
  padding-top: 15.5px;
  padding-bottom: 15.5px;
  padding-left: 15.5px;
  padding-right: 15.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-31 {
    margin-left: -15.5px;
    margin-right: -15.5px;
  }
  .grid.grid-sm-31 > * {
    padding-top: 15.5px;
    padding-bottom: 15.5px;
    padding-left: 15.5px;
    padding-right: 15.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-31 {
    margin-left: -15.5px;
    margin-right: -15.5px;
  }
  .grid.grid-md-31 > * {
    padding-top: 15.5px;
    padding-bottom: 15.5px;
    padding-left: 15.5px;
    padding-right: 15.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-31 {
    margin-left: -15.5px;
    margin-right: -15.5px;
  }
  .grid.grid-lg-31 > * {
    padding-top: 15.5px;
    padding-bottom: 15.5px;
    padding-left: 15.5px;
    padding-right: 15.5px;
  }
}
.grid.grid-32,
.grid.grid-sm-32 {
  margin-left: -16px;
  margin-right: -16px;
}
.grid.grid-32 > *,
.grid.grid-sm-32 > * {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .grid.grid-sm-32 {
    margin-left: -16px;
    margin-right: -16px;
  }
  .grid.grid-sm-32 > * {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-32 {
    margin-left: -16px;
    margin-right: -16px;
  }
  .grid.grid-md-32 > * {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-32 {
    margin-left: -16px;
    margin-right: -16px;
  }
  .grid.grid-lg-32 > * {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.grid.grid-33,
.grid.grid-sm-33 {
  margin-left: -16.5px;
  margin-right: -16.5px;
}
.grid.grid-33 > *,
.grid.grid-sm-33 > * {
  padding-top: 16.5px;
  padding-bottom: 16.5px;
  padding-left: 16.5px;
  padding-right: 16.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-33 {
    margin-left: -16.5px;
    margin-right: -16.5px;
  }
  .grid.grid-sm-33 > * {
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    padding-left: 16.5px;
    padding-right: 16.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-33 {
    margin-left: -16.5px;
    margin-right: -16.5px;
  }
  .grid.grid-md-33 > * {
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    padding-left: 16.5px;
    padding-right: 16.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-33 {
    margin-left: -16.5px;
    margin-right: -16.5px;
  }
  .grid.grid-lg-33 > * {
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    padding-left: 16.5px;
    padding-right: 16.5px;
  }
}
.grid.grid-34,
.grid.grid-sm-34 {
  margin-left: -17px;
  margin-right: -17px;
}
.grid.grid-34 > *,
.grid.grid-sm-34 > * {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 17px;
  padding-right: 17px;
}
@media (min-width: 768px) {
  .grid.grid-sm-34 {
    margin-left: -17px;
    margin-right: -17px;
  }
  .grid.grid-sm-34 > * {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-34 {
    margin-left: -17px;
    margin-right: -17px;
  }
  .grid.grid-md-34 > * {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-34 {
    margin-left: -17px;
    margin-right: -17px;
  }
  .grid.grid-lg-34 > * {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
  }
}
.grid.grid-35,
.grid.grid-sm-35 {
  margin-left: -17.5px;
  margin-right: -17.5px;
}
.grid.grid-35 > *,
.grid.grid-sm-35 > * {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  padding-left: 17.5px;
  padding-right: 17.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-35 {
    margin-left: -17.5px;
    margin-right: -17.5px;
  }
  .grid.grid-sm-35 > * {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    padding-left: 17.5px;
    padding-right: 17.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-35 {
    margin-left: -17.5px;
    margin-right: -17.5px;
  }
  .grid.grid-md-35 > * {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    padding-left: 17.5px;
    padding-right: 17.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-35 {
    margin-left: -17.5px;
    margin-right: -17.5px;
  }
  .grid.grid-lg-35 > * {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    padding-left: 17.5px;
    padding-right: 17.5px;
  }
}
.grid.grid-36,
.grid.grid-sm-36 {
  margin-left: -18px;
  margin-right: -18px;
}
.grid.grid-36 > *,
.grid.grid-sm-36 > * {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
}
@media (min-width: 768px) {
  .grid.grid-sm-36 {
    margin-left: -18px;
    margin-right: -18px;
  }
  .grid.grid-sm-36 > * {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-36 {
    margin-left: -18px;
    margin-right: -18px;
  }
  .grid.grid-md-36 > * {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-36 {
    margin-left: -18px;
    margin-right: -18px;
  }
  .grid.grid-lg-36 > * {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
.grid.grid-37,
.grid.grid-sm-37 {
  margin-left: -18.5px;
  margin-right: -18.5px;
}
.grid.grid-37 > *,
.grid.grid-sm-37 > * {
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  padding-left: 18.5px;
  padding-right: 18.5px;
}
@media (min-width: 768px) {
  .grid.grid-sm-37 {
    margin-left: -18.5px;
    margin-right: -18.5px;
  }
  .grid.grid-sm-37 > * {
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    padding-left: 18.5px;
    padding-right: 18.5px;
  }
}
@media (min-width: 992px) {
  .grid.grid-md-37 {
    margin-left: -18.5px;
    margin-right: -18.5px;
  }
  .grid.grid-md-37 > * {
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    padding-left: 18.5px;
    padding-right: 18.5px;
  }
}
@media (min-width: 1200px) {
  .grid.grid-lg-37 {
    margin-left: -18.5px;
    margin-right: -18.5px;
  }
  .grid.grid-lg-37 > * {
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    padding-left: 18.5px;
    padding-right: 18.5px;
  }
}
