$enable-bs4: false !default;
$enable-2d: true !default;
$enable-variant: true !default;
$enable-2dvariant: true !default;

$grid-gutter-2d-width: 30px !default;
$columns: 12 !default;

$grid-breakpoints: (xs, sm, md, lg) !default;
$grid-breakpoints-bs4: (xs, sm, md, lg, xl) !default;

@if $enable-bs4 == true {
    $grid-breakpoints: $grid-breakpoints-bs4;
};

$grid-variants: (
    small: 10px,
    large: 40px
) !default;
